@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Varela+Round&display=swap');

html {
    line-height: 1.4;
    font-size: 105%;
}

body, h1, h2 {
    margin: 0; padding: 0;
}

body {
    background: white;
    color: 333;
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
}

header {
    background: linear-gradient(to right bottom, rgba(255, 20, 147, 0.4), rgba(255, 20, 147, 0.6)), url(assets/background.jpg) no-repeat center center/cover;
    position: relative;
    height: 80vh;
    color: white;
    text-transform: uppercase;
}

header > h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

main {
    margin: 0 1rem 0 1rem;
}

h1 {
    font-family: 'Varela Round', sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem;
}

h2 {
    margin-top: 2rem;
    padding-bottom: 3px;
    font-size: 1.6rem;
    border-bottom: 1px dashed #555;
}

a, a.active, a.visited {
    color: deeppink;
}

.img__preview {
    text-align: center;
}

.img__preview-picture {
    width: 15rem;
    min-height: 15rem;
    display: inline-block;
    vertical-align: text-top;
    border: 1px dotted white;
}

.img__preview-picture:not(:last-child) {
    margin: 0 1rem 1rem 0;
}